@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Helvetica Now Display Medium';
  src: url('/fonts/helveticanowdisplay-medium.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Now Display Bold';
  src: url('/fonts/helveticanowdisplay-bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'UglyDave';
  src: url('/fonts/UglyDaveRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Helvetica Now Display Medium', Arial, Helvetica, sans-serif;
}

b, strong, .font-bold {
  font-family: 'Helvetica Now Display Bold', Arial, Helvetica, sans-serif;
}
