@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Helvetica Now Display Medium';
  src: url('/fonts/helveticanowdisplay-medium.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Now Display Bold';
  src: url('/fonts/helveticanowdisplay-bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'UglyDave';
  src: url('/fonts/UglyDaveRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Barlow_Condensed';
  src: url('/fonts/Barlow_Condensed/BarlowCondensed-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Helvetica Now Display Medium', Arial, Helvetica, sans-serif;
}

b, strong, .font-bold {
  font-family: 'Helvetica Now Display Bold', Arial, Helvetica, sans-serif;
}

.pink-button {
  background: #000;
  color: #E599FE;
  font-family: 'Barlow_Condensed', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  padding: 10px 32px;
  cursor: pointer;
  transition: background 0.2s;
  margin: 8px 0;
}
.pink-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
